@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>Наш Телефон:</h3>

<address>
   Василий : +7-955-888-11-22
</address>

<address>
    <strong>Почта для обратной связи:</strong>   <a href="mailto:test@testmail.ru">test@testmail.ru</a><br />
   
</address>